body{
    background-color:#2a8bfb;
    font-family: monospace;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    color: rgb(229, 229, 229);
    overflow: hidden;
    perspective: 1000px;
    height: 100vh;
}

header{
    background-color: black;
    padding: 8px;
    padding-left: 16px;
    margin: 0px;
}
ul{
    list-style:square;
}

a {
  display: block; 
  text-decoration: none; 
  color: inherit; 
}


  .project-container {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
    /* width: max-content; */
    height: 500px; 
    transform-style: preserve-3d;
    /* border: 1px solid red; */
  }  
  
  .project {
    background-color: rgba(0, 0, 0, 0);
    /* padding-top: 20px; */
    position: absolute;
    width: 250px;
    height: 500px;
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    transform: translate3d(0, 0, 0); 
    /* border: 2px solid #141414; */
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    /* align-items: top; */
    align-items: center;
    transition: transform 0.2s ease; 
  }


  .project:nth-child(1) {
     /* border: 10px solid #231514; */
    transform: translate3d(80px, 0px, 0px) rotateY(45deg);
  }
  
  .project:nth-child(2) {
    transform: translate3d(257px, 0px, 0px) rotateY(-45deg);
  }
  
  .project:nth-child(3) {
    transform: translate3d(434px, 0px, 0) rotateY(45deg);
  }
  
  .project:nth-child(4) {
    transform: translate3d(611px, 0px, 0) rotateY(-45deg);
  }
  .project:nth-child(5) {
    transform: translate3d(788px, 0px, 0) rotateY(45deg);
  }
  .project:nth-child(6) {
    transform: translate3d(965px, 0px, 0) rotateY(-45deg);
  }
  .project:nth-child(7) {
    transform: translate3d(1142px, 0px, 0) rotateY(45deg);
  }

  .project:nth-child(1):hover {
    transform: translate3d(80px, 0px, 0px) rotateY(0deg); 
  }

  .project:nth-child(2):hover {
  transform: translate3d(257px, 0px, 0px) rotateY(0deg); 
  }
  .project:nth-child(3):hover {
    transform: translate3d(434px, 0px, 0px) rotateY(0deg); 
  }

  .project:nth-child(4):hover {
  transform: translate3d(611px, 0px, 0px) rotateY(0deg); 
  }
  .project:nth-child(5):hover {
    transform: translate3d(788px, 0px, 0px) rotateY(0deg); 
  }

  .project:nth-child(6):hover {
  transform: translate3d(965px, 0px, 0px) rotateY(0deg); 
  }
  .project:nth-child(7):hover {
    transform: translate3d(1142px, 0px, 0px) rotateY(0deg); 
  }


  .projectpage{
    background-color:#000000;
    font-family: monospace;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    color: rgba(255, 255, 255, 0.566);
    overflow: hidden;
    perspective: 1000px;
    height: 100vh;
  }

  .viewproject {
    padding: 60px; 
}

.content {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}

.sketch-container {
    flex: 1; 
    margin-right: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.title {
    flex: 1; 
    text-align: center; 
    margin-right: 20px; 
    font-family: monospace;
    font-weight: lighter;
}

.description {
    flex: 1; 
    max-width: 400px;
    text-align: left; 
    padding: 20px; 
}


.circle-button {
  position:fixed; 
  bottom: 60px; 
  width: 60px; 
  height: 60px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #2a8bfb91; 
  border-radius: 50%; 
  border-style: solid;
  border-width: thin;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 32px; 
  text-decoration: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s; 
  
}

.circle-button:hover {
  background-color: #ffdd00; 
}

.circle-button:active {
  background-color: #ffdd00; 
}

.title{
  margin-top: 10px;
  padding-top: 150px;
  font-size: small;
}

.nav-bar {
  position: fixed;
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex; 
  gap: 80px; 
}

.circle-button2 {
  width: 60px; 
  height: 60px; 
  margin-bottom: 40px;
  background-color: #ffffff16; 
  border-radius: 50%; 
  border-style: solid;
  border-width: thin;
  border-color: #000000;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 32px; 
  text-decoration: none; 
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
  transition: background-color 0.3s; 
}

.circle-button2:hover {
  background-color: #ffdd00; 
}

/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0); 
  padding-top: 200px; 
}

.modal-content {
  background-color: #ffdd00; 
  /* background-color: #fefefe; */
  margin: 5% auto; 
  padding: 20px;
  /* border: 1px solid #888; */
  width: 60%;
  color: #00000094;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}